/* A classe você pode repetir, e o id não */

/* 
Cascading StyleSheet 
      
body img {
        
}
*/

/* 
Box

Largura
Espasçamento
Bordas
Posicionamento
Preenchimento

*/

/* 
body #container {
    Mais forte
    Se sobressai
}

#container {
    Menos forte
}
*/

body {
    /* Propriedae: valor; */

    background: #e5e5e5;
    color: #24282b;

    font-family: 'Montserrat', sans-serif;

    margin: 0;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.hide {
    display: none;
}

a {
    color: #ff5e84;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ff5e84;
    text-decoration: underline;

    transition: 350ms;
}

p,
.description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#container {
    width: 80%;
    /* Se não foi no máximo */
    max-width: 100vw;
    /* É o máximo */

    /* Se alinhando ao meio */
    margin: 15px auto;

    /* Se a altura for pequena */
    /* height: 100px; */
    /* overflow: hidden; /* coloca uma "tampa" na caixa */

    display: flex;

}

#intro {
    width: 300px;
    margin-right: 32px;

    margin: 0px
        /* Em cima e embaixo */
        32
        /* Direita e Esquerda */
    ;
}

main {
    margin-top: 32px;
    margin-bottom: 32px;
}

/* Butões */

#buttons {
    display: flex;
    justify-content: space-evenly;
    /* Só quando tem flex ou algum tipo de display */

    margin: 32px 0;
}

button {
    color: #ff5e84;
    background: none;

    border: none;

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;

    cursor: pointer;

    border-radius: 6px;
    transition: 200ms;
}

button:hover {
    background: #ff5e84;
    color: #E5E5E5;

    box-shadow: 0px
        /* X */
        8px
        /* Y */
        16px
        /* Blur */
        rgba(255, 0, 92, 0.5);

    transition: 350ms;
}

button.fat {
    color: white;
    /* Sobrescreve o padrão */
    background: #ff5e84;

    width: 150px;
    height: 40px;

    /* Colocando uma borda */
    box-shadow: 0px
        /* X */
        8px
        /* Y */
        16px
        /* Blur */
        rgba(255, 0, 92, 0.3);
}

button.fat:hover {
    box-shadow: 0px
        /* X */
        8px
        /* Y */
        20px
        /* Blur */
        rgba(255, 0, 92, 0.3);
}

/* Rotapé */

footer {
    text-align: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #777;
}

footer a {
    color: #25282B;
    text-decoration: none;

    opacity: 0.7;
}

/* Notas Recentes */

.idea {
    display: flex;

    background-color: #FFF;
    box-shadow: 0 4px 16px -8px
        /* Espalhamento */
        rgba(1, 1, 1, 0.3);
    border-radius: 8px;

    padding: 32px;
    margin-bottom: 32px;
}

.idea img {
    width: 60px;
    height: 60px;

    margin: 0 32px;
}

.idea h3 {
    margin: 0;
}

.idea p {
    margin: 8px 0;
    color: #777;
}

.idea .description {
    margin: 16px 0;
}